*.iml
.gradle
.gradle-local
/local.properties
/.idea/
.android-local
.tmp_aar
.tmp_aar2
.kotlin
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/release/
*.log
build.log
voicevox_android_report.md